<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO SISTEMAS ECONÓMICOS 1/2024</title>
    <link rel="stylesheet" href="../static/style-caue.css">
    <style>
        .warning {
            color: red;
        }
    </style>
</head>

<body>
    <header>
        <h1>COSTO ANUAL UNIFORME EQUIVALENTE(CAUE)</h1>
    </header>
    <main>
        <form id="caue-form2">
            <div class="campos-entrada">
                <input type="number" id="inversion" name="inversion" placeholder="Inversión inicial (USD)" step="any"
                    required>
                <p id="warning-inversion" class="warning"></p>

                <input type="number" id="vida" name="vida" placeholder="Vida útil (años)" step="any" required>
                <p id="warning-vida" class="warning"></p>

                <input type="number" id="tasa" name="tasa" placeholder="Tasa de descuento (%)" step="any" required>
                <p id="warning-tasa" class="warning"></p>

                <input type="number" id="costo" name="costo" placeholder="Costos anuales (USD)" step="any" required>
                <p id="warning-xcosto" class="warning"></p>
            </div>

            <h2 id="titulo-resultado"></h2>
            <h1 id="resultado-caue"></h1>

            <button type="submit">CALCULAR CAUE</button>
            <button class="volver" type="button" onclick="volver()">VOLVER</button>
        </form>
    </main>
    <footer>
        <p>&copy; 2024 Proyecto Sistemas Económicos</p>
    </footer>

    <script src="../js/caue-script.js"></script>
</body>

</html>