<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO SISTEMAS ECONÓMICOS 1/2024</title>
    <link rel="stylesheet" href="../static/style-vaue.css">
</head>

<body>
    <header>
        <h1>VALOR ANUAL UNIFORME EQUIVALENTE(VAUE)</h1>
    </header>
    <main>
        <section>
            <div class="campos-entrada">
                <input type="number" id="beneficios" name="beneficios" placeholder="Beneficios Totales (USD)">
                <input type="number" id="vida" name="vida" placeholder="Vida útil (años)">
                <input type="number" id="tasa" name="tasa" placeholder="Tasa mínima atractiva (%)">
                <input type="number" id="amortizacion" name="amortizacion" placeholder="Amortización (USD)">
            </div>

            <h1>El resultado de VAUE es:</h1>
            <h2>-14.08</h2>

            <button type="submit">CALCULAR VAUE</button>
            <button class="volver" onclick="volver()">VOLVER</button>

        </section>
    </main>
    <footer>
        <p>&copy; 2024 Proyecto Sistemas Económicos</p>
    </footer>
</body>

</html>

<script>
    function calcularA() {
        window.location.href = "index.html";
    }

    function calcularP() {
        window.location.href = "otra_pagina.html";
    }

    function volver() {
        window.location.href = "index.html";
    }
</script>